.topnav {
  border: 3px solid rgb(150, 255, 4);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-top: 4px solid transparent; /* Add this line */
}

.topnav a:hover {
  border-top: 4px solid rgb(150, 255, 4);
  color: black;
}

.topnav a#active {
  border-top: 4px solid rgb(150, 255, 4);
  color: black;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav:hover .subnav-content {
  display: block;
  border: 3px solid rgb(150, 255, 4);
}

.subnav-content {
  display: none;
  position: absolute;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 53px 0px;
}








.topnav a:hover{
  border-top:none;
}